*{
    font-family: "Microsoft YaHei UI",sans-serif;
}
a:link{text-decoration:none;/* 指正常的未被访问过的链接*/}
a:visited{text-decoration:none;/*指已经访问过的链接*/}
a:hover{text-decoration:none;/*指鼠标在链接*/}
a:active{text-decoration:none;/* 指正在点的链接*/}
/*.modal-open {*/
    /*overflow-y: auto;*/
/*}*/

/*login 员工登录界面样式*/
.login-wrapper {
    text-align: center;
}
.login-logo {
    text-align: center;
    margin-top: 16%;
    background-color: #fff;
    width: 140px;
    height: 140px;
    border-radius: 100px;
}
.login-logo-wrapper {
    height: 140px;
    width: 140px;
    display: table-cell;
    vertical-align: middle;
}
.login-logo img {
    width: 70%;
    height: auto;
}
.login-user {
    margin-top: 6%;
    padding: 0 5%;
}
.login-user input {
    height: 46px;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    color: #fff;
}
.login-user input::-webkit-input-placeholder {
    color: #fff;
}
.login-user input:-moz-placeholder {
    color: #fff;
}
.login-user input:focus::-webkit-input-placeholder {
    text-indent: -999em;
    z-index: -20;
}
.login-user .list-unstyled li{
    color: #fff;
}
.login-user a {
    color: #fefefe;
    /*margin-top: 3%;*/
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
}
.login-user p {
    color: #fff;
    display: none;
}
.login-user .btn.disabled {
    margin-top: 5%;
    font-weight: bold;
    color: #fff;
    opacity: 1;
    background-color: #6183c2;
}
.login-user .login-btn{
    margin-top: 10%;
}
.login-user .btn,.btn-lg,.btn-block{
    background-color: #6183c2;
    color: #fff;
}
.login-wrapper-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/*forgetpassword 忘记密码界面样式*/
.fgpw-body {
    background-color: #eee;
    color: #7e7e7e;
}
.fgpw-wrapper{
    padding-top:10%;
}
.fgpw-wrapper .form-group{

}
.fgpw-wrapper span{
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #fff;
    border-right: none;
}
.fgpw-wrapper input{
    height:42px;
    border-radius: 0;
    border: 1px solid #fff;
    border-left: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
}
.fgpw-wrapper input:focus {
    border: none;
    outline: none;
    /*box-shadow: none;*/
}
.fgpw-a-get{
    border: 1px solid #6183c2;
    color: #fff;
    border-radius: 0;
    background-color: #6183c2;
}
.fgpw-btn-post{
    margin-top: 10%;
    background-color: #6183c2;
    color: #fff;
    border-radius: 0;
    border: 1px solid #6183c2;
}
.fgpw-wrapper .btn.disabled{
    opacity: 1 !important;
}

/*index 员工中心首页界面样式*/
.home{
    padding:0;
}
.home-logo{
    display: block;
}
.home-logo img{
    width:140px;
    height: auto;
    margin-top: 5%;
}
.home .navbar{
	margin-top: 1em;
}
.home .navbar-nav{
	margin: 0 -15px;
}
.home .navbar-default .navbar-brand{
	color: #FFFFFF;
}
.home .navbar-brand{
	float: none;
	padding: 15px 0;
}
.home .navbar-header{
	background-color: #597dda;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #597DDA;
}
.navbar-toggle{
	border: none;
	margin: 8px auto;
	float: none;
	padding: 9px 6px;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #FFFFFF;
}
.home li{
	background-color: #F5F5F5;
	border-bottom: 1px dotted #abadae;
}
.home ul>li>ul{
	padding: 0;
}
.home .dropdown-menu>li>a{
	padding: 10px 15px;
}
.home .dropdown-menu li:last-child{
    border-bottom: none;
}

.ad{
    margin-bottom: 1rem;
}
/*.swiper-container {
    width: 100%;
    height: 60px;
} */
.ad img{
    width: 100%;
    height: auto;
}
.swiper-container {
    height: auto;
}  

.home-content{
    /*margin-top: 10px;*/
}
.home-article{
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow:0 0 4px #eee;
    padding:15px;
    margin-bottom: 20px;
}
.home-article-p1{
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 4px;
}
.home-article-p2{
    color: #838383;
}
.home-article img{
    width:100%;
    margin-bottom: 6px;
}
.home-article hr{
    margin: 8px 0;
}
.home-article-p3{
    color: #838383;
}
.home-article-p4{
    margin-bottom: 0;
}
.home-article-a{
    color: #000;
    text-decoration: none;
}
.home-article-a a{
    text-decoration: none;
}
.home-article-a span{
    float: right;
}
.home-footer-img{
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #eee;
    padding:4px 0;
    margin-bottom: 10px;
}
.home-footer-copyright p{
    color: #838383;
    font-size: 12px;
}
.home-footer-copyright a{
    color: #838383;
    font-size: 13px;
}

.home-black-bg{
    background-color: rgba(0, 0, 0, 0.8);
    /*background-color: #000;*/
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    overflow-y: hidden;
}
.home-modify-password{
    -webkit-appearance: none;
}
.home-modify-password{
    position: absolute;
    top:20%;
    left: auto;
    text-align: center;
}
.home-modify-password p{
    color: #fff;
    font-size: 15px;
}
.home-modify-password input{
    border-radius: 0;
    height:46px;
}
.home-modify-password span{
    border-radius: 0;
}
.home-modify-password button{
    background-color: rgba(97,131,194,1);
}
.home-modify-password .btn.disabled{
    opacity: 1;
}

/*article*/
.article{
    width: 100%;
}
.article h2{
    font-size: 2rem;
}
.article span{
    font-size: 1.2rem;
    color: #838383;
}
.article img{
    width: 100%;
    margin-top: 1rem; 
    margin-bottom: 1rem;
}

.article p{
    font-size: 1.5rem;
    text-indent: 3rem;
    color: #838383;
    line-height: 2.4rem;
}
